.vscode/**
.vscode-test/**
.github/**
docs/**
src/**
scripts/**
webview-ui/**
node_modules/**
out/test/**
**/*.ts
**/*.map
.gitignore
.eslintrc*
tsconfig.json
**/.DS_Store
assets/banner.png
.vscodeignore

!out/**
!out/test/**
!media/**
