.vscode/**
.vscode-test/**
.github/**
docs/**
src/**
scripts/**
webview-ui/**
node_modules/**
.gitignore
.eslintrc*
tsconfig.json
**/*.ts
**/.DS_Store
assets/banner.png
.vscodeignore

!out/**
out/test/**
out/**/*.map
!media/**
